// @import '../assets/styles/main.scss';

// @import '../assets/styles/navbar.scss';

// @import '../assets/styles/header.scss';

// @import '../assets/styles/services.scss';
// @import '../assets/styles/destination.scss';
// @import '../assets/styles/easy_and_fast.scss';
// @import '../assets/styles/section4.scss';
// @import '../assets/styles/section5.scss';
// @import '../assets/styles/section6.scss';


// @import '../assets/styles/footer.scss';

.app {
    .bg_circle {
        position: absolute;
        right: 100%;
        width: 478.94px;
        height: 496.86px;
        background: #D5AEE4;
        opacity: 0.3;
        border: 1px solid #5D5FEF;
        box-sizing: border-box;
        filter: blur(150px);
    }

    .bg_img {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }

    section {
        .container {
            .title {
                margin-bottom: 30px;
    
                p {
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 27px;
                    color: #5E6282;
                    margin-bottom: 0;
                }
                h1 {
                    font-family: Volkhov;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 50px;
                    line-height: 64px;
                    text-transform: capitalize;
                    color: #14183E;
                }
            }
        }
    }
}